<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
  
    </div>
  </div>
</div>
<br>
<!-- Page content -->
<div class="container-fluid mt--7 ">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8 ">
              <h3 class="mb-0">Publicar Nuevo Archivo</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
         
          <div style="text-align:left;">
            <mat-card >
                    <mat-card-content>
                        <ul>
                            <li *ngFor="let file of files;let index = index">
                              <div class="row">
                                  <div class="col-md-12">
                                      <mat-progress-bar [value]="file.progress"></mat-progress-bar>
                                    </div>
                              </div>

                                <div class="row">
                                    <div class="col-md-4">
                                      <h4>Nombre</h4>
                                    </div>
                                    <div class="col-md-3">
                                        <h4>Categoria</h4>
                                      </div>
                                      <div class="col-md-3">
                                          <h4>Sub Categoria</h4>
                                      </div>
                                      <div class="col-md-2">
                                          <h4>Acción</h4>
                                      </div>
                                </div>
                                <div class="row">
                                <div class="col-md-4">
                                  <span id="file-label">
                                    {{file.data.name}}
                                </span>
                                </div>
                                <div class="col-md-3">
                                  <mat-select >
                                    <mat-option (change)="functionCall($event)" *ngFor="let item of categorias; index as i" [value]="item.idcategoria">
                                      {{item.cat_nombre}}
                                    </mat-option>
                                  </mat-select>
                                </div>

                                <div class="col-md-3">
                                    <mat-select >
                                      <mat-option *ngFor="let food of foods" [value]="food.value">
                                        {{food.viewValue}}
                                      </mat-option>
                                    </mat-select>
                                  </div>
                                  
                                  <div class="col-md-2">
                                      <a href="javascript:void(0)" (click)="removeSelectedFile(index)"  class="btn btn-sm btn-danger mr-4"><mat-icon>delete</mat-icon></a>
                                  </div>
                              </div>
                            </li>
                        </ul>
                    </mat-card-content>
                   
                </mat-card>
            </div>
            <br>
            
            <mat-card-actions>
              <div class="row">
                  <div class="col-md-6 text-left">
                      <button mat-button color="warn" (click)="onClick()">
                          <mat-icon>file_upload</mat-icon>
                          Cargar Archivo
                      </button>
                      <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" style="display:none;" />
                  </div>

                  <div class="col-md-6 text-right">
                      <button mat-button color="warn"(click)="sendFiles()">
                          <mat-icon>file_upload</mat-icon>
                          Enviar Archivos
                      </button>
                  </div>
              </div>
            </mat-card-actions>


        </div>
       
      </div>

    </div>

  </div>

</div>

