// .btn-group-toggle{
//     background-color:red;
// }

#pruebaid{
    background-color: bisque;
}

// .btn:active,
// .active {
//   color: white !important;
//   background-color: rgba(193, 66, 66, 1) !important;
//   border-color: rgba(193, 66, 66, 1) !important;
// }

#pruebaid:active, .btn:active, .active {
  color: white !important;
  background-color: rgba(193, 66, 66, 1) !important;
  border-color: rgba(193, 66, 66, 1) !important;
}